@model SongsViewModel

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-2">
            <div class="d-none d-md-block">
                <h5 class="mb-3">Песни от @Model.SelectedSong.Artist.Title</h5>
                @await Html.PartialAsync("SongsPartial", Model)
            </div>
            <div class="d-md-none">
                <div class="mb-3">
                    <button class="btn btn-secondary btn-block fs-6" type="button" data-bs-toggle="collapse" data-bs-target="#songList" aria-expanded="false" aria-controls="songList" aria-label="Toggle navigation">
                        Песни от @Model.SelectedSong.Artist.Title
                    </button>
                </div>
                <div class="collapse" id="songList">
                    <div class="card card-body">
                        @await Html.PartialAsync("SongsPartial", Model)
                    </div>
                </div>
            </div>
        </div>

        <div class="col-10">
            @if (Model.SelectedSong != null)
            {
                <div class="row">
                    <div class="col-10">
                        <h5>@Model.SelectedSong.Title</h5>
                        <h6>@Model.SelectedSong.Artist.Title</h6>
                    </div>
                    <div class="col-2 mt-2">
                        <form asp-controller="Favorites" asp-action="Add" asp-route-songId="@Model.SelectedSong.Id" method="post">
                            <button type="submit" class="btn btn-primary btn-block fs-6">
                                Добавить в избранное
                            </button>
                        </form>
                    </div>
                </div>
                    
                <div class="row text-container lyrics">
                    <div class="col-5">
                        @Model.SelectedSong.Text
                    </div>
                    <div class="col-5">
                        @Model.SelectedSong.Translate
                    </div>
                    <p></p>
                </div>
            }
        </div>
    </div>
</div>