@model FavoriteSongsViewModel

<div class="container-fluid mt-1">
    <div class="row ins-full-height-row">
        <div class="col-2 ins-fixed-col">
            <div class="d-none d-md-block">
                <h5 class="mb-3">Избранное</h5>
                @await Html.PartialAsync("FavoriteListPartial", Model)
            </div>
        </div>

        <div class="col-10 ins-main-col">
            @if (Model.SelectedSong != null)
            {
                <div class="row">
                    <div class="col-6 mb-3">
                        <h5>@Model.SelectedSong.Title</h5>
                        <h6>@Model.SelectedSong.Artist.Title</h6>
                    </div>
                    <div class="col-6 d-flex justify-content-end mb-3">
                        @if (Model.UserRoles.Contains(AppRole.Admin) || Model.UserRoles.Contains(AppRole.Moderator))
                        {
                            <form asp-controller="" asp-action="" asp-route-songId="@Model.SelectedSong.Id" method="post" class="ms-1">
                                <button type="submit" class="ins-btn ins-btn-body ins-btn-rectangel">
                                    <img src="~/images/close.png" alt="Удалить" class="ins-icon-img">
                                </button>
                            </form>
                            <form asp-controller="" asp-action="" asp-route-songId="@Model.SelectedSong.Id" method="post" class="ms-1">
                                <button type="submit" class="ins-btn ins-btn-body ins-btn-rectangel">
                                    <img src="~/images/pen.png" alt="Редактировать" class="ins-icon-img">
                                </button>
                            </form>
                        }
                        @if (Model.UserRoles.Contains(AppRole.AuthorizedUser))
                        {
                            <form asp-controller="Favorites" asp-action="Delete" asp-route-songId="@Model.SelectedSong.Id" method="post" class="ms-1">
                                <button type="submit" class="ins-btn ins-btn-body ins-btn-rectangel">
                                    <img src="~/images/heart_red.png" alt="Удалить из Избранное" class="ins-icon-img">
                                </button>
                            </form>
                        }
                    </div>
                </div>

                <div class="row">
                    <div class="text-container lyrics col-6">
                        @Model.SelectedSong.Text
                    </div>
                    <div class="text-container lyrics col-6">
                        @Model.SelectedSong.Translate
                    </div>
                </div>
            }
            else
            {
                <div>
                    <h5>
                        Выберите песню из списка
                    </h5>
                </div>
            }
        </div>
    </div>
</div>